header{
    position: relative;
}
.loading-screen{
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-btn);
    animation: 3s loading-screen linear forwards;
}
.loading-screen__text{
    color: #fff;
    font-family: Raleway;
    font-weight: 500;
    font-size: 45px
}

@keyframes loading{
0%{
    overflow: hidden;
}
100%{
    overflow: auto;
}
}

@keyframes loading-screen{
0%{
    display: flex;
}
100%{
    display: none;
}
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 16s infinite;
}

.slide {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    position: relative;
    background-image: url(../../images/header/header.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}
.header__block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--color-opasity-black);
}
.header__block__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-size: 30px;
    color: #fff;
    height: 100%;
}

.header__block__menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    z-index: 8;
    top: 33px;
}
.header__block__menu__list{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.header__block__menu__list a{
    font-family: Montserrat;
    font-weight: 400;
    transition: 300ms;
}
.header__block__menu__list a:hover{
    color: var(--color-btn);
}
#burger:checked ~ .header__block__menu__list{
    display: flex;
}

.header__block__list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.header__block__list__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.header__block__list a{
    font-family: Montserrat;
    font-weight: 400;
    transition: 300ms;
}
.header__block__list a:hover{
    color: var(--color-btn);
}
.header__block__icons{
    position: absolute;
    left: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 10%;
}
.header__block__icons svg:hover{
    fill: var(--color-btn);
}
.header__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    top: 100px;
    background-color: var(--color-opasity-black);
    color: #fff;
    height: calc( 100vh - 100px);
    width: 100%;
}
.header__main__subtitle {
    font-family: Raleway;
    font-size: 34px;
    text-align: center;
}
.header__main__title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}
.header__main__text {
    font-family: Montserrat;
    font-size: 17px;
    text-align: center;
    width: 34%;
    margin-bottom: 50px;
}
.header__main__side-arrows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 85%;
    height: 100px;
}
.left-arrow, .right-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5%;
}
.header__main__side-arrows, svg:hover{
    fill: rgb(160 160 158);
}
.header__main__circles{
    position: absolute;
    top: 91%;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__main__circles__item{
    background-color: rgb(138 139 143);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: 300ms;
}
.header__main__circles__item:hover{
    border: 2px solid rgb(211 194 174);
    background-color: transparent;
}
.arrows{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateX(10deg);
    position: fixed;
    z-index: 10;
    left: 92.5%;
    top: 75%;
}