@media (max-width:1440px){
.header__block__menu{
    display: flex;
}
.header__block__list__links{
    display: none;
}
.header__block__logo span{
    display: none;
}
.Projects__block{
    width: 95%;
}
.Projects__block__info__menu__item {
    gap: 10px;
}
.vacancies__block{
    width: 85%;
}
.Statistics__block{
    width: 75%;
}
.Posts__block{
    width: 80%;
}
}


@media (max-width:1280px){
.header__main__text{
    width: 50%;
}
.Multipurpose_block{
    width: 75%;
}
.Projects__block{
    width: 100%;
}
.Projects__block__info{
    width: 80%;
}
.Mobile__info__text{
    width: 70%;
}
.Mobile__image{
    justify-content: center;
}
.Video__black__block{
    width: 50%;
    height: 50%;
}
.footer__bar__item{
    width: 95%;
}
}


@media (max-width:1050px){
.header__main__text{
    width: 70%;
}
.vacancies__block{
    width: 100%;
}
.Multipurpose_block{
    width: 90%;
}
.header__main__side-arrows{
    width: 100%;
}
.arrows{
    left: 87%;
}
.Projects__block__info__menu{
    margin: 0;
}
.Projects__block__info__menu__item{
    width: 100%;
}
.Projects__block__wrap{
    width: 95%;
}
.Statistics__block{
    width: 95%;
}
.Posts__info{
    width: 70%;
}
.Posts__block{
    width: 95%;
}
.footer__logo__wrap__images{
    width: 100%;
}
.Mobile__info__list{
    margin: 0;
}
.Mobile__info__list ul{
    padding-inline-start: 10px;
}
}

@media (max-width:920px){
    .vacancies{
        height: 500px;
    }
    .vacancies__block{
        flex-direction: column;
        height: 100%;
    }
    .vacansies__block__line{
        justify-content: space-between;
    }
    .vacansies__block__line__column svg{
        width: 25px;
        height: 25px;
    }
    .vacansies__block__line__column__h2{
        font-size: 17px;
        margin-top: 11px;
    }
    .vacansies__block__line__column p{
        font-size: 15px;
    }
.footer__logo__wrap__images{
    flex-direction: column;
    }
.footer__bar__item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer__bar__item p{
    padding: 0;
}
}

@media (max-width:850px){
.all__btn{
    width: 140px;
}
.header__main__subtitle{
    font-size: 24px;
}
.header__main__title{
    font-size: 50px;
}
.header__main__text{
    font-size: 14px;
}
.Multipurpose_block__info__title{
    font-size: 25px;
}
.Multipurpose_block__info__text{
    font-size: 15.5px;
}
.Projects{
    padding: 0;
    height: 850px;
}
.Projects__block__info__title{
    font-size: 18px;
}
.Projects__block__info__text{
    line-height: 17px;
}
.Projects__block__info__menu{
    height: 25px;
}
.Projects__block__wrap__line{
    height: 250px;
}
.Projects__block__wrap__line__column__info__title{
    width: 100%;
}
.Video{
    height: 250px;
}
.Video__black__block{
    width: 25%;
    height: 25%;
}
.Video__black__block__player svg{
    width: 45px;
    height: 45px;
}
.Video__black__block__title{
    font-size: 17px;
}
.Video__black__block__text{
    width: 100%;
}
.Mobile{
   height: 550px;
}
.Mobile__info__text{
    width: 100%;
}
.Mobile__info__list li{
    gap: 10px;
}
.Statistics{
    height: 250px;
}
.Statistics__block{
    height: 150px;
    width: 75%;
}
.Statistics__block__column svg{
    width: 40px;
    height: 40px;
}
.Statistics__block__column__number{
    font-size: 35px;
}
.Statistics__block__column__text{
    font-size: 13px;
}
.Posts{
    justify-content: start;
    height: 1450px;
    gap: 10px;
}
.Posts__info__title{
    font-size: 23px;
}
.Posts__info__text{
    line-height: 23px;
}
.Posts__block{
    height: 80%;
}
.Posts__block__wrap{
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    gap: 11px;
}
.Posts__block__wrap__column{
    height: 45%;
}
}

@media (max-width:768px){
.vacancies__block{
    gap: 2%;
}
.vacancies__block__line{
    justify-content: center;
    width: 100%;
}
.Projects__block__info__menu__item{
    gap: 3px;
    flex-wrap: wrap;
    justify-content: center;
}
.Projects{
    height: 2250px;
}
.Projects__block{
    height: 100%;
}
.Projects__block__wrap{
    height: 80%;
    gap: 15px;
}
.Projects__block__wrap__line{
    flex-direction: column;
    width: 100%;
    gap: 15px;
    height: 50%;
}
.Projects__block__wrap__line__column{
    min-width: 60%;
}
}

@media (max-width:514px){
.Projects__block__wrap__line__column{
    width: 90%;
}
}

@media (min-width:375px) and (max-width:700px){
.header__main__subtitle{
    font-size: 16px;
}
.header__main__title{
    font-size: 25px;
}
.header__main__text{
    font-size: 11px;
    margin-bottom: 25px;
}
.all__btn{
    width: 120px;
    height: 40px;
    font-size: 11px;
}
.Multipurpose_block__info__title{
    font-size: 18px;
}
.Multipurpose_block__info__text{
    font-size: 12.5;
}
.Projects__block__info{
    width: 100%;
}
.Projects__block__info__text{
    width: 100%;
}
.Projects__block__info__menu__item{
    gap: 3px;
    flex-wrap: wrap;
    justify-content: center;
}
.Video__black__block{
    width: 100%;
}
.Mobile{
    height: 400px;
}
.Mobile__image{
    display: none;
}
.Mobile__info{
    width: 100%;
}
.Statistics__block__column__number{
    font-size: 20px;
}
.Statistics__block__column__text{
    font-style: 11px;
}
.Statistics__block{
    width: 100%;
    gap: 2%;
}
.footer__logo__wrap__images__column img{
    width: 150px;
}
.footer__bar__item p{
    font-size: 13px;
}
.arrows{
    width: 50px;
    height: 50px;
    left: 81%;
}
.arrows a{
    display: flex;
    justify-content: center;
}
.up{
    align-items: end;
}
.arrows svg{
    width: 50px;
    height: 50px;
}
}